.wrapper {
  max-width: 100%;

  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 0 auto;
}

.right {
  width: 500px;
  padding-right: 30px;
  border-right: 1px solid rgb(153, 153, 153);
  cursor: zoom-in;

  img {
    margin-top: 20px;
    width: 100%;
    height: auto;
  }
}

.left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  user-select: none;
  h3 {
    color: rgb(63, 100, 51);
  }

  .price {
    font-size: 30px;
    font-weight: 200;
    color: rgb(63, 100, 51);
  }

  .wrapperVariables {
    width: 200px;
    display: flex;
    padding-left: 30px;
  }
}

.under {
  padding: 40px;
  display: flex;
  justify-content: center;
  font-weight: 100;
}

.sostav {
  margin-top: 50px;
}

.border {
  border: 1px solid rgb(153, 153, 153);
  text-align: center;
  border-radius: 50%;
}

.borderNone {
  border: 1px solid rgba(153, 153, 153, 0);
  text-align: center;
  border-radius: 50%;
}

.title {
  font-weight: 100;
}

.count {
  margin-left: 50px;
  height: 50px;
  display: flex;

  button {
    width: 50px;
    border: none;
    background-color: rgb(235, 235, 235);
    color: rgb(79, 170, 49);
    border-radius: 50%;
  }

  button:hover {
    background-color: rgb(218, 218, 218);
    color: rgb(63, 136, 38);
  }

  button:active {
    background-color: rgb(183, 183, 183);
    color: rgb(158, 255, 123);
  }

  p {
    padding-left: 15px;
    width: 40px;
  }
}

.toast-message {
  width: 100px;
}

.discount {
  color:rgb(63, 100, 51);
}