.wrapper {
    width: 160px;
    background-color: rgb(255, 255, 255);
    color: #25292e;
}

.list {
    padding: 0px;
    font-size: 15px;
    font-weight: 200;
}

.item {
    cursor: pointer;
    padding: 10px;
    border-left: 3px solid #ffffff;
    transition: all .1s;
}

.item:hover {
    background-color: #f0f2f4;
    border-left: 3px solid #2a6ad3;
    font-weight: 400;
}
