.wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #e5e5e5;
}
.item {
  width: 200px;
  padding: 10px;
}

.item:hover {
  background-color: #b1b1b1;
  opacity: .7;
  cursor: pointer;
}


