.post {
  margin-top: 40px;
  background-color: white;
  padding: 15px;

  .header {
    // padding: 15px;

    font-size: 10px;
    line-height: 150%;
    color: #0275b1;
    margin-bottom: 10px;
  }
  .title {
    font-size: 14px;
    line-height: 150%;
    color: #181818;
    margin-bottom: 10px;
  }
  .image {
    // margin-bottom: 10px;
    // max-width: 100%;

    .imageMain {
      max-width: 100%;
      // height: 200px;
    }
  }
}

.line {
  position: absolute;
  width: 100%;
  height: 1px;
  border: 1px solid #f4f4f4;
  margin-bottom: 10px;
}
