.wrapper {
  ul {
    // li:firstItem{
    // width: 50px;
    // }
    li {
      width: 600px;
      margin-bottom: 10px;
      display: flex;
      gap: 20px;
      justify-content: flex-end;
      border: 1px solid #000;
      input {
        background: rgb(232, 232, 232);
      }
    }
    button {
      margin: 5px;
      padding: 5px;
      color: #fff;
      background: rgb(38, 88, 182);
    }
  }
  > button {
    padding: 10px;
    margin: 10px;
    background: green;
    color:rgb(232, 232, 232)
  }
}
