.menu {
    margin: 0 auto;
    padding: 30px;
    display: flex;
}

.item {
    cursor: pointer;
    padding: 20px;
    background-color: rgb(118, 85, 165);
    color: rgb(216, 216, 216);
}

.item:hover {
    background-color: rgb(95, 67, 133);
    color: white;
}

.cart {
    padding-left: 80px;
    padding-top: 10px;
    // margin: 20px;
    position: relative;

    .count {
        position: absolute;
        top: 5px;
        right: -5px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: rgb(246, 219, 12);
        padding-left: 5px;
    }
}

.cart:hover {
    opacity: 0.7;
}