.menu {
    margin: 0 auto;
    padding: 30px;
    display: flex;
}

.item {
    cursor: pointer;
    padding: 20px;
    background-color: rgb(118, 85, 165);
    color: rgb(216, 216, 216);
}

.item:hover {
    background-color: rgb(95, 67, 133);
    color: white;
}