.wrapper {
  margin: 30px;
  padding: 30px;
  display: flex;
  justify-content: center;
  gap: 10px;

  p, span {
    font-family: "Roboto";
    font-weight: 400;
  }

}

.cantact {
  box-sizing: border-box;
  padding: 40px;
  //   box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  width: 700px;
  //   height: 300px;
}
