.wrapper {
    width: 400px;
    padding: 20px;
    background-color: #f6f8fa;
}

.tags {
    display: flex;
    flex-direction: row;
    // gap: 30px;
}

.tag {
    padding: 10px;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: space-between;
    // margin-bottom: 20px;
}
.tag:hover {
    background-color: #93a5b7;
}

.title {
    padding-top: 10px;
    // padding-left: 30px;
    font-size: 20px;
    font-weight: 300;
}