.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(207, 207, 207);
  padding: 20px;
  opacity: 0.8;
  .form {
    padding: 10px;
    background: #fff;
    border: 3px solid rgb(52, 47, 47);
    width: 600px;
    height: 300px;
    position: fixed;
    top: 15%;
    left: 30%;
    color: rgb(122, 122, 122);
    display: flex;
    flex-direction: column;
    gap: 20px;
    input {
      background-color: rgb(163, 163, 163);
      padding: 10px;
      color: white;
    }
    button {
      width: 100px;
      height: 100px;
      background: rgb(194, 194, 194);
    }
  }
}
